.block {
  width: 25px; 
  height: 25px;
  background-color: #ccc; 
  border: 1px solid #000; 
}

.snakeHead{
  width: 25px; 
  height: 25px;
  background-color: #a10e0e; 
  border: 1px solid #000; 
}

.snake{
  width: 25px; 
  height: 25px;
  background-color: #21f01a; 
  border: 1px solid #000; 
}

.apple{
  width: 25px; 
  height: 25px;
  background-color: #f7b40a; 
  border: 1px solid #000; 
}



.top{
  height: 10vh;
}

h1,h3{
  display: flex;
  justify-content: center;
}

.row{
  display: flex;
  justify-content: center;
}