.block {
  width: 25px; /* Adjust width and height as needed */
  height: 25px;
  background-color: #ccc; /* Adjust color as needed */
  border: 1px solid #000; /* Optional: Add borders */
}

/* z */
.red{
  width: 25px; /* Adjust width and height as needed */
  height: 25px;
  background-color: #a10e0e; /* Adjust color as needed */
  border: 1px solid #000; /* Optional: Add borders */
}

/* S */
.green{
  width: 25px; /* Adjust width and height as needed */
  height: 25px;
  background-color: #21f01a; /* Adjust color as needed */
  border: 1px solid #000; /* Optional: Add borders */
}

/* L */
.orange{
  width: 25px; /* Adjust width and height as needed */
  height: 25px;
  background-color: #f7b40a; /* Adjust color as needed */
  border: 1px solid #000; /* Optional: Add borders */
}

/* backwards L */
.blue{
  width: 25px; /* Adjust width and height as needed */
  height: 25px;
  background-color: #2951f2; /* Adjust color as needed */
  border: 1px solid #000; /* Optional: Add borders */
}

/* I */
.teal{
  width: 25px; /* Adjust width and height as needed */
  height: 25px;
  background-color: #29f2f2; /* Adjust color as needed */
  border: 1px solid #000; /* Optional: Add borders */
}

/* square */
.yellow{
  width: 25px; /* Adjust width and height as needed */
  height: 25px;
  background-color: #ede613; /* Adjust color as needed */
  border: 1px solid #000; /* Optional: Add borders */
}


.top{
  height: 20vh;
}

h1{
  display: flex;
  justify-content: center;
}

.board{
}

.row{
  display: flex;
  justify-content: center;
}